In [64]:
import pandas as pd
import numpy as np
import dask.dataframe as dd

In [65]:
trainDf = pd.read_csv('data/train_v2.csv')
uniqueUsers = trainDf.msno
uniqueUsers
trainDf.head()

                                           msno  is_churn
0  ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=         1
1  f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=         1
2  zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=         1
3  8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=         1
4  K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=         1

In [68]:
userDf = pd.concat([pd.read_csv('data/user_grouped.csv'),pd.read_csv('data/user_grouped_v2.csv')])
userDf.head()

,msno,month,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs
0,+++4vcS9aMH7KWdfh5git6nA5fC5jjisd5H/NcM++WM=,201504,2.015043e+07,1.000000,1.000000,0.000000,0.000000,0.000000,2.000000,97.411000
1,+++EI4HgyhgcJHIPXk/VRP7bt17+2joG39T6oEfJ+tc=,201604,2.016042e+07,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,56.868000
2,+++FOrTS7ab3tIgIh8eWwX4FqRv8w/FoiOuyXsFvphY=,201609,2.016091e+07,8.571429,1.714286,2.000000,1.000000,24.428571,25.571429,7142.395857
3,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,201501,2.015011e+07,0.761905,0.380952,0.666667,0.380952,87.190476,70.095238,21261.646429
4,+++IZseRRiQS9aaSkH6cMYU6bGDcxUieAi/tH67sC5s=,201502,2.015022e+07,1.769231,0.846154,0.076923,0.384615,59.615385,42.384615,14372.760846

In [9]:
activeUsers = trainDf.loc[trainDf.msno.isin(userDf.msno),:].sort_values('msno')
# 'active_users_label_test.npy'
activeUsers.shape

(855160, 2)

In [66]:
memberDf = pd.read_csv('data/members_v3.csv').loc[:,['msno','bd']]
memberDf.head()

                                           msno  bd
0  Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=   0
1  +tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=   0
2  cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=   0
3  9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=   0
4  WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=  32

In [67]:
averageAge = 29.490912779050635
memberDf.loc[(memberDf['bd'] > 100) | (memberDf['bd'] < 5),'bd'] = averageAge
memberDf.head()

                                           msno         bd
0  Rb9UwLQTrxzBVwCB6+bCcSQWZ9JiNLC9dXtM1oEsZA8=  29.490913
1  +tJonkh+O1CA796Fm5X60UMOtB6POHAwPjbTRVl/EuU=  29.490913
2  cV358ssn7a0f7jZOwGNWS07wCKVqxyiImJUX6xcIwKw=  29.490913
3  9bzDeJP6sQodK73K5CBlJ6fgIQzPeLnRl0p5B77XP+g=  29.490913
4  WFLY3s7z4EZsieHCt63XrsdtfTEmJ+2PnnKLH5GY4Tk=  32.000000

In [69]:
userDf = userDf.loc[userDf['msno'].isin(uniqueUsers),:]

In [70]:
userDf = userDf.join(memberDf.set_index('msno'), on='msno')

In [71]:
userDf.head()

,msno,month,date,num_25,num_50,num_75,num_985,num_100,num_unq,total_secs,bd
34,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201611,2.016112e+07,8.533333,4.733333,3.333333,6.733333,31.333333,32.533333,9911.204867,29.490913
35,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201612,2.016122e+07,6.225806,2.838710,3.161290,4.580645,27.580645,31.580645,8284.258194,29.490913
36,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201701,2.017012e+07,4.500000,2.300000,2.600000,4.900000,14.600000,23.200000,5262.289233,29.490913
37,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,201702,2.017021e+07,4.296296,2.259259,2.148148,4.222222,17.333333,23.777778,5797.553963,29.490913
38,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,201501,2.015011e+07,4.833333,0.666667,0.333333,0.166667,6.833333,11.416667,1873.203083,26.000000

In [72]:
#
userDf['bd'] = userDf['bd'].fillna(averageAge)
print userDf.shape
print userDf.dropna(subset=['bd']).shape

(14280430, 11)
(14280430, 11)

In [73]:
print userDf.shape
print userDf.dropna(subset=['total_secs']).shape

(14280430, 11)
(14280430, 11)

In [74]:
transactionDf = pd.concat([pd.read_csv('data/transactions.csv') , pd.read_csv('data/train_v2.csv')])
# transactionDf= pd.read_csv('data/transactions.csv')
transactionDf.head()

,actual_amount_paid,is_auto_renew,is_cancel,is_churn,membership_expire_date,msno,payment_method_id,payment_plan_days,plan_list_price,transaction_date
0,129.0,1.0,0.0,NaN,20151101.0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41.0,30.0,129.0,20150930.0
1,149.0,1.0,0.0,NaN,20151031.0,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41.0,30.0,149.0,20150930.0
2,129.0,1.0,0.0,NaN,20160427.0,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41.0,30.0,129.0,20150930.0
3,149.0,1.0,0.0,NaN,20151128.0,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39.0,30.0,149.0,20150930.0
4,149.0,1.0,0.0,NaN,20151121.0,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39.0,30.0,149.0,20150930.0

In [75]:
# transactionDf.msno.unique().shape
transactionDf = transactionDf.loc[(transactionDf['msno'].isin(uniqueUsers)),['msno','is_auto_renew','is_cancel','membership_expire_date', 'transaction_date']]
transactionDf.head()

,msno,is_auto_renew,is_cancel,membership_expire_date,transaction_date
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,1.0,0.0,20151031.0,20150930.0
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,1.0,0.0,20151121.0,20150930.0
5,KN7I82kjY0Tn76Ny95ncqBUVbO7b8AXrOPqZutKpxIM=,1.0,0.0,20151107.0,20150930.0
6,m5ptKif9BjdUghHXXomSezy5ohJiHm85PE13f/3kQaw=,1.0,0.0,20151128.0,20150930.0
8,LUPRfoE2r3WwVWhYO/TqQhjrL/qP6CO+/ORUlr7yNc0=,1.0,0.0,20151222.0,20150930.0

In [76]:
transactionDf.membership_expire_date = transactionDf.membership_expire_date.fillna(method='ffill')
transactionDf.transaction_date = transactionDf.transaction_date.fillna(method='ffill')
transactionDf.membership_expire_date  = transactionDf.membership_expire_date.astype(int)
transactionDf.transaction_date = transactionDf.transaction_date.astype(int)
expire_year = transactionDf.membership_expire_date//10000
expire_month = (transactionDf.membership_expire_date%10000)//100
expire_day = transactionDf.membership_expire_date//100
tran_year= transactionDf.transaction_date//10000
tran_month = (transactionDf.transaction_date %10000)//100
tran_day = transactionDf.transaction_date//100
# print expire_year
transactionDf['daysBefore'] = (expire_year - tran_year) * 365 + (expire_month - tran_month) * 30 + (expire_day - tran_day)
transactionDf.head()

,msno,is_auto_renew,is_cancel,membership_expire_date,transaction_date,daysBefore
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,1.0,0.0,20151031,20150930,31
4,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,1.0,0.0,20151121,20150930,62
5,KN7I82kjY0Tn76Ny95ncqBUVbO7b8AXrOPqZutKpxIM=,1.0,0.0,20151107,20150930,62
6,m5ptKif9BjdUghHXXomSezy5ohJiHm85PE13f/3kQaw=,1.0,0.0,20151128,20150930,62
8,LUPRfoE2r3WwVWhYO/TqQhjrL/qP6CO+/ORUlr7yNc0=,1.0,0.0,20151222,20150930,93

In [77]:
transactionDf = transactionDf.loc[:,['msno','is_auto_renew','is_cancel','daysBefore']].groupby('msno').agg('mean').reset_index()
transactionDf.loc[transactionDf.is_cancel >0,'is_cancel'] = 1
transactionDf.head()

,msno,is_auto_renew,is_cancel,daysBefore
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1.0,0.0,43.400000
1,+++l/EXNMLTijfLBa8p2TUVVVp2aFGSuUI/h7mLmthw=,1.0,0.0,69.750000
2,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1.0,0.0,36.740741
3,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1.0,0.0,35.769231
4,++/UDNo9DLrxT8QVGiDi1OnWfczAdEwThaVyD0fXO50=,1.0,0.0,69.750000

In [78]:
trainUsersDf = trainDf.join(transactionDf.set_index('msno'), on='msno')
trainUsersDf.head()

,msno,is_churn,is_auto_renew,is_cancel,daysBefore
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,0.833333,1.0,22.142857
1,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,1,0.000000,0.0,25.833333
2,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,1,0.000000,0.0,40.789474
3,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,1,0.947368,1.0,365.800000
4,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,1,1.000000,1.0,209.560000

In [79]:
trainUsersDf = trainUsersDf.dropna()
trainUsersDf.head()

,msno,is_churn,is_auto_renew,is_cancel,daysBefore
0,ugx0CjOMzazClkFzU2xasmDZaoIqOUAZPsH1q0teWCg=,1,0.833333,1.0,22.142857
1,f/NmvEzHfhINFEYZTR05prUdr+E+3+oewvweYz9cCQE=,1,0.000000,0.0,25.833333
2,zLo9f73nGGT1p21ltZC3ChiRnAVvgibMyazbCxvWPcg=,1,0.000000,0.0,40.789474
3,8iF/+8HY8lJKFrTc7iR9ZYGCG2Ecrogbc2Vy5YhsfhQ=,1,0.947368,1.0,365.800000
4,K6fja4+jmoZ5xG6BypqX80Uw/XKpMgrEMdG2edFOxnA=,1,1.000000,1.0,209.560000

In [80]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import GradientBoostingClassifier
X = trainUsersDf[['is_auto_renew','is_cancel','daysBefore']]
y = trainUsersDf.is_churn
clf= GradientBoostingClassifier(max_depth=20)
clf.fit(X,y)
predicted = clf.predict(X)
accuracy_score(predicted,y)

0.92996314665031032

In [82]:
accuracy_score(np.zeros(y.shape),y)

0.91125044272551636

In [83]:
trainDf = pd.read_csv('data/sample_submission_v2.csv')
uniqueUsers = trainDf.msno

In [84]:
transactionDf = pd.concat([pd.read_csv('data/transactions.csv') , pd.read_csv('data/train_v2.csv')])
# transactionDf= pd.read_csv('data/transactions.csv')
transactionDf.head()

,actual_amount_paid,is_auto_renew,is_cancel,is_churn,membership_expire_date,msno,payment_method_id,payment_plan_days,plan_list_price,transaction_date
0,129.0,1.0,0.0,NaN,20151101.0,YyO+tlZtAXYXoZhNr3Vg3+dfVQvrBVGO8j1mfqe4ZHc=,41.0,30.0,129.0,20150930.0
1,149.0,1.0,0.0,NaN,20151031.0,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,41.0,30.0,149.0,20150930.0
2,129.0,1.0,0.0,NaN,20160427.0,UkDFI97Qb6+s2LWcijVVv4rMAsORbVDT2wNXF0aVbns=,41.0,30.0,129.0,20150930.0
3,149.0,1.0,0.0,NaN,20151128.0,M1C56ijxozNaGD0t2h68PnH2xtx5iO5iR2MVYQB6nBI=,39.0,30.0,149.0,20150930.0
4,149.0,1.0,0.0,NaN,20151121.0,yvj6zyBUaqdbUQSrKsrZ+xNDVM62knauSZJzakS9OW4=,39.0,30.0,149.0,20150930.0

In [85]:
# transactionDf.msno.unique().shape
transactionDf = transactionDf.loc[(transactionDf['msno'].isin(uniqueUsers)),['msno','is_auto_renew','is_cancel','membership_expire_date', 'transaction_date']]
transactionDf.head()

,msno,is_auto_renew,is_cancel,membership_expire_date,transaction_date
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,1.0,0.0,20151031.0,20150930.0
10,bQkbrEPdMfVfdsoz0RoWSmgYpHJuhRqtIml7aRUrFL8=,1.0,0.0,20151121.0,20150930.0
24,qNpZJ7gsMPAFSvc5V3kgqtFfUQU2SZe7XSUYOAfqtoA=,1.0,0.0,20151101.0,20151001.0
26,WnxdSgeK3Vg4BIaioJQYilnL+E1SDxq+PZIwmmfTwgM=,1.0,0.0,20151031.0,20150930.0
27,ir1jh/vWZ932FpSC2WeMxdOHQ+OkuUo3ZPQs8Ms4J9g=,1.0,0.0,20151031.0,20150930.0

In [86]:
transactionDf.membership_expire_date = transactionDf.membership_expire_date.fillna(method='ffill')
transactionDf.transaction_date = transactionDf.transaction_date.fillna(method='ffill')
transactionDf.membership_expire_date  = transactionDf.membership_expire_date.astype(int)
transactionDf.transaction_date = transactionDf.transaction_date.astype(int)
expire_year = transactionDf.membership_expire_date//10000
expire_month = (transactionDf.membership_expire_date%10000)//100
expire_day = transactionDf.membership_expire_date//100
tran_year= transactionDf.transaction_date//10000
tran_month = (transactionDf.transaction_date %10000)//100
tran_day = transactionDf.transaction_date//100
# print expire_year
transactionDf['daysBefore'] = (expire_year - tran_year) * 365 + (expire_month - tran_month) * 30 + (expire_day - tran_day)
transactionDf.head()

,msno,is_auto_renew,is_cancel,membership_expire_date,transaction_date,daysBefore
1,AZtu6Wl0gPojrEQYB8Q3vBSmE2wnZ3hi1FbK1rQQ0A4=,1.0,0.0,20151031,20150930,31
10,bQkbrEPdMfVfdsoz0RoWSmgYpHJuhRqtIml7aRUrFL8=,1.0,0.0,20151121,20150930,62
24,qNpZJ7gsMPAFSvc5V3kgqtFfUQU2SZe7XSUYOAfqtoA=,1.0,0.0,20151101,20151001,31
26,WnxdSgeK3Vg4BIaioJQYilnL+E1SDxq+PZIwmmfTwgM=,1.0,0.0,20151031,20150930,31
27,ir1jh/vWZ932FpSC2WeMxdOHQ+OkuUo3ZPQs8Ms4J9g=,1.0,0.0,20151031,20150930,31

In [87]:
transactionDf = transactionDf.loc[:,['msno','is_auto_renew','is_cancel','daysBefore']].groupby('msno').agg('mean').reset_index()
transactionDf.loc[transactionDf.is_cancel >0,'is_cancel'] = 1
transactionDf.head()

,msno,is_auto_renew,is_cancel,daysBefore
0,+++hVY1rZox/33YtvDgmKA2Frg/2qhkz12B9ylCvh8o=,1.0,0.0,43.400000
1,+++snpr7pmobhLKUgSHTv/mpkqgBT0tQJ0zQj6qKrqc=,1.0,0.0,36.740741
2,++/9R3sX37CjxbY/AaGvbwr3QkwElKBCtSvVzhCBDOk=,1.0,0.0,35.769231
3,++0/NopttBsaAn6qHZA2AWWrDg7Me7UOMs1vsyo4tSI=,1.0,0.0,35.769231
4,++0BJXY8tpirgIhJR14LDM1pnaRosjD1mdO1mIKxlJA=,0.0,0.0,45.588235

In [88]:
trainUsersDf = trainDf.join(transactionDf.set_index('msno'), on='msno')
trainUsersDf.head()

,msno,is_churn,is_auto_renew,is_cancel,daysBefore
0,4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=,0,1.0,0.0,38.380952
1,aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=,0,1.0,0.0,37.739130
2,rFC9eSG/tMuzpre6cwcMLZHEYM89xY02qcz7HL4//jc=,0,1.0,1.0,33.818182
3,WZ59dLyrQcE7ft06MZ5dj40BnlYQY7PHgg/54+HaCSE=,0,1.0,0.0,40.117647
4,aky/Iv8hMp1/V/yQHLtaVuEmmAxkB5GuasQZePJ7NU4=,0,1.0,0.0,46.500000

In [89]:
trainUsersDf.shape

(907471, 5)

In [90]:
trainUsersDf= trainUsersDf.fillna(method='bfill')

In [91]:
testX = trainUsersDf[['is_auto_renew','is_cancel','daysBefore']]
result = clf.predict(testX)

In [92]:
resultDf= pd.read_csv('data/sample_submission_v2.csv')
resultDf.is_churn = result
resultDf

                                                msno  is_churn
0       4n+fXlyJvfQnTeKXTWT507Ll4JVYGrOC8LHCfwBmPE4=         0
1       aNmbC1GvFUxQyQUidCVmfbQ0YeCuwkPzEdQ0RwWyeZM=         0
2       rFC9eSG/tMuzpre6cwcMLZHEYM89xY02qcz7HL4//jc=         0
3       WZ59dLyrQcE7ft06MZ5dj40BnlYQY7PHgg/54+HaCSE=         0
4       aky/Iv8hMp1/V/yQHLtaVuEmmAxkB5GuasQZePJ7NU4=         0
5       nu1jZ/flvSaXRg0U9Es+xmo2KlAXq/q+mhcWFStwm9w=         1
6       biDTtgK83fEWXJDaxzD1eh22dion/h3odeIbS7qJMmY=         0
7       k/8uwi/iM9LZmRAIWXLqpZY6ENomXAscwsQsh6PxcTw=         0
8       18rQ/746SjA6nBx325UsyhfsDhu4tK01FXFxHWZjw20=         0
9       2V13OCoWx6vqKr/ZzNmKFrmnC2FtR4SWMz5C5Hi02PY=         0
10      1l/ZwduFxS/q/hZeyssAYH27espkp8Yw6uAnUxfEbTI=         0
11      azfnO16ZeQsbJF6LcqkQhbA3NWiqHYWqaq7AFjsJVaQ=         0
12      RPOzeEr8mSbhj6wrF29+7KciuiNrj7IvkzxJ9rgCTks=         0
13      NAzfjSM2EOyFhV4rIm/RO9pXCbyti6scBfcmV/t+CaU=         0
14      1DCd06ON0rWFHI1bNrY1l/hPW9d80fmmrmroHqpGvNA=         0
15      D9QAV8ZNF8qU96dTBLMzO0sguzlmAIBf4302l0W6jj0=         0
16      5HKzLDUVVbIxWMH9aH67ALAGVPvorE4NvmO5xqO7SMk=         0
17      XwnlNj6nq2MMHe0KoyRRM4ih+RAwj5idHvlS4pTMTbg=         0
18      lNmNPLZZiMwVbRFdBmDYmRdEgo8TWN2Y3m+z5XVl4aQ=         0
19      5NlNga4bsKiYyj3B3I/SihUQH4wb2suNWBcxQMd9oJ8=         0
20      eXWvD4/UBTi6mA9GMYTpY7/buu5xKCyXlu7hFM+ELHU=         0
21      Y1V2qDdKt+5CHqFSvpm82QkPJrwRxkbP5hs7DbtU+tA=         0
22      sLyKNXQo6PGK/CE0a4cUQ9+lVd/oCERRMuCSgZ6KN4Y=         0
23      2TaTUEET5XAOiHPC2qKnKUK2wSqbcbA9YwM4eHTeawE=         0
24      Rrh9afbenme6MuAYudJRn41u9IrLpSi9aQ8p3I34RT0=         0
25      5sjnJjeZd2roOarPgSYK6559VTIhEmeunzJAd2kcuhg=         0
26      FsR4+VSNjAortRRTmx2q9K2q9HtSdQ69PE1FNKKqpKk=         0
27      5LgzR73HtjaKDQzMcUrveEUcvWPCuwAZrizNdCAqRnU=         0
28      3rgFPp+e+xMWuKAw8wgVB4EUYotVuaWYvGuEDyNo9fc=         0
29      QOE4ibjDwKrJvCZze8fKh4yxk7sHEEbffUMTmkUSfhA=         0
...                                              ...       ...
907441  gk8XM+TA0wIqideeOAfLpAGgmhYpRTJuD3lpx9lQlh4=         0
907442  3TRqAUOAuYhIQz/kCISBEhZZOnsrjVuf+WH3QLUT2aw=         0
907443  FbEuxI79/jc3bitQwvZ/y2+ewGd9LEiKQrlkQGLD6lk=         0
907444  +lqMzJchsQDoQvkRDnM5VKPAtEPbcRrpyiIewdWlwEo=         0
907445  3rlqpTjQ8e+q9axfQLKhRK0HmBoL2m+jvo0rm7+dbeU=         0
907446  mK64Lapcbh0+hz+u5Jy27iDEQqDsSUjXh5Xw+oFE5kc=         0
907447  oLe84AMU5+u8KFV+gpWAElh6P+RRjc5WfjgESTP93kk=         0
907448  eEa3cws9RxHVr42QBanlfUYWIQKimUDeHZshYOmPFg4=         0
907449  GLfSMzLvaotdTTyQ6VPNFCZvJMWBgn92ml+VzbF2caQ=         0
907450  UugV5VEIkH/7Xi49DYa8FSGJg7tzfVrbY4YRnyPjiFg=         0
907451  WqggMdsZdV3MpF7/bsgin1JjQ02d38Y+tGjGIKMPC9o=         0
907452  xlmdLtmZa7LlVlAs9PrmNbAF4rx4gThNgYCYCXlhVRw=         0
907453  wToeP3w2/VEGinU7ttBCrZYw/eur8lPat4fA7hN1M7g=         0
907454  KU2kcldc9aQ+xT1x7B+HinhUR+WtxUZ9mr4xBLgUKRM=         0
907455  NgEHZWUb/5fAyZ4oMGxdtPTrZFiARxCAKyOqtJ0s2aU=         0
907456  dw5kCn4Sqj+P1c0qQaXcs9AAeZFbwxeUmpW+X0qlvFc=         0
907457  aEeTCPSNKqaAgcHlZqntzuYf7lv4C3OxMvWqt/14jhs=         0
907458  NcIK70lHsDjAsamedWqSwu1b6mZR8dwVIL4ki+TdKzw=         0
907459  SZGhUzxFs6/jVf+aVAV6wkIXwC4VOJ945EhHLYjyXqY=         0
907460  fgrG5+L9zmTL8wW75FbR3Cts5Z7GAUcfr5cbqrsztAw=         0
907461  s2BQi80mz+SH4d+Ld0lCW28ZeyPGnnaBmaD9Mx3D4Ks=         0
907462  r+Eb1hNptQDU/Wa0E+Myg/4+K7XqckAvlEU6xY2r9CQ=         0
907463  kC0vNHziTsaosr42qwIilPjviq7ToGkmEARWNpvFRqs=         0
907464  lmuB1hC6Trpb84bWVC3dvLBJkBtbo7N2OVf0Lwo0c9c=         0
907465  puL2A+Pe6eqOM6D+RKnqmdiJPaWrlKYQcCrJXKCXIIM=         0
907466  8nS1SbsI9+9vN07m8GyfmsWv/A9H8dUlbIbjbZ2a/Nk=         0
907467  KsOpJUA4P2pEaSl0afZhyl1QBaLHXTw33IYuQsnKdxE=         0
907468  NIcI2YUj9v2tC/NRtreLz1wxwLczQacJ2Ek9RJKgarI=         0
907469  b8MlVUtzUhQrIqKcqVKPENOIUo/5EiZxfExBkkfoBxY=         0
907470  YhPGjMES6gPOZMm33BmxwM4hg5I1gbpBM5Be16NXZoI=         0

[907471 rows x 2 columns]

In [93]:
resultDf.to_csv('result/gb_result.csv',index=None)

In [58]:
rnnResultDf = pd.read_csv('result/lr_result.csv')
rnnResultDf.is_churn = 0

In [59]:
rnnResultDf.to_csv('result/rnn_result.csv',index=None)